.contact {

  label {
    color: $yellow;
    margin-top: 30px;
    float: left;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    line-height: 40px;
  }

  textarea {
    resize: none;
  }

  textarea,
  input {
    width: 100%;
    font-family: 'Lato', sans-serif;
    padding: 20px 0;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid $yellow;
    background: transparent;
    color: white;
    font-size: 22px;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-style: italic;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
  }

  :-ms-input-placeholder {
    font-style: italic;
  }
}

:invalid {
  box-shadow: none;
}

.submitted-once {
  textarea:invalid,
  input[type="email"]:invalid,
  input[type="text"]:invalid {
    color: #e73939;
    border-bottom: 2px solid #e73939;
  }
}

.button  {
  padding: 20px;
  color: white;
  border: 3px solid white;
  float: left;
  margin-top: 20px;
  text-decoration: none;
  font-size: 24px;
  font-family: Kautiva;
  box-sizing: border-box;
  float: right;
  transition: all $speed $easing;

  i {
    float: right;
    margin-left: 10px;
  }
  @media all and (max-width: 720px) {
    width: 100%;
  }

  &:hover {
    border-color: $yellow;
  }

  .sending,
  .sent {
    display: none;
  }

  &.sending {
    .default,
    .sent {
      display: none;
    }

    .sending {
      display: block;
    }
  }

  &.sent {
    .default,
    .sending {
      display: none;
    }

    .sent {
      display: block;
    }
  }
}

.hidden {
  display: none;
}
