section.menu {
  margin-top: 0 !important;

  @media all and (max-width: 420px) {
    display: none;
  }

  a {
    margin-top: -4px;
    margin-bottom: -6px;
    text-decoration: none;
    font-family: Kautiva;
    color: white;
    font-size: 28px;
    font-style: italic;
    text-transform: lowercase;
    font-weight: bold;
    float: left;

    &:not(:last-child):after {
      content: '|';
      color: $gray;
      margin: 0 20px;

      @media all and (max-width: 720px) {
        margin: 0 6px;
      }

    }
  }
}
